@keyframes example {
  from {color: black;} 
  to {color: blue;}
}
html {
  height: 100%;
  /* max-height: 600px; */
  width: 1000px;
  background-color: hsla(200,40%,30%,.4);
  background-image:   
    url('http://www.clker.com/cliparts/q/L/o/j/C/Q/forest-hi.png'), 
    url('http://www.inserthtml.com/parallax/trees.png'),
    url('https://db.tt/cKICP4Xj'),
    url('http://www.augstudy.com/images/theme/impress/bg_mountains.png'),
    url('https://db.tt/vKBcgeOj');
  background-repeat: repeat-x;
  background-position: 
    0 20%,
    0 95%,
    0 0,
    0 100%,
    0 0;
  background-size: 
    2500px,
    800px,
    500px 200px,
    1000px,
    400px 260px;
  animation: 50s para infinite linear;
  }

@keyframes para {
  100% {
    background-position: 
      -5000px 20%,
      -800px 95%,
      500px 0,
      1000px 100%,
      400px 0;
    }
  }
a {
  font-family: 'Brush Script MT';
  width: 100px;
  position: center;
  float: center;
    height: 100px;
    
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 10;
    /*animation: example 5s linear 2s infinite alternate;*/
}


body {
  margin: 0;
  font-size: 32px;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 3.4s;
}

/*a:hover {
  color: #1976d2;
}*/

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}
