

.poemLines {
	float: left;
	padding: 25px;
	width: 400px;
	/*border: 2px solid red;*/
	background-color: #A1F0E9;
	height: 220px;

}
.sylCount {
	float: left;
	padding: 25px;
	width: 40px;
	background-color: #E7F28B;
	height: 220px;
}
